_build.*
.cache
.pytest_cache
pytest_session.txt
output
output_small
detected-sources.txt
detected-sources_small.txt
astrometry_sdss.png
bin/check_astrometry.py
bin/compare.py
bin/export-results.py

.coverage
.sconf_temp/
.sconsign.dblite
config.log
python/lsst/lsst/dm/stack/demo/version.py
tests/.tests/
tests/__pycache__/
ups/__pycache__/
